@model Domain.Models.Reservation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoanDate" class="control-label"></label>
                <input asp-for="LoanDate" class="form-control" />
                <span asp-validation-for="LoanDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualReturnDate" class="control-label"></label>
                <input asp-for="ActualReturnDate" class="form-control" />
                <span asp-validation-for="ActualReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LateFee" class="control-label"></label>
                <input asp-for="LateFee" class="form-control" />
                <span asp-validation-for="LateFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedByUserId" class="control-label"></label>
                <select asp-for="ReservedByUserId" class ="form-control" asp-items="ViewBag.ReservedByUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CreatedByUserId" class="control-label"></label>
                <select asp-for="CreatedByUserId" class ="form-control" asp-items="ViewBag.CreatedByUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedByUserId" class="control-label"></label>
                <select asp-for="ModifiedByUserId" class ="form-control" asp-items="ViewBag.ModifiedByUserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

